<!DOCTYPE html>
<html lang="en" xmlns:th="http://java.sun.com/xml/ns/persistence/orm">
<head>
    <meta charset="UTF-8" />
    <title>Shopping planner</title>
</head>
<body>
<h1>Green Fox Fashion Web Store</h1>
<form>
    <select name=?>Please select an Item name!</select>
    <select name=?>Please select a size!</select>
</form>
<form>
    <select name=?>Please enter !</select>
</form>
<button type="submit" value="Submit">GET TOTAL</button>

<table th:if="${warehouse}">
    <tr>
        <td>Item name</td>
        <td>Manufacturer</td>
        <td>Category</td>
        <td>Size</td>
        <td>Unit price</td>
    </tr>
</table>

</body>
</html>